.form-container {
    @include flexy(
        $just: center,
        $aligni: center,
        $dir: column
    );
    margin: 1rem;
    width: 50vw;
    .input-fields {
        @include flexy(
            $dir: column,
            // $just: center,
            // $aligni: center
        );
        .input-field {
            margin: .6rem 0 .6rem 0;
            @include flexy(
                $dir: column
            );
            input, textarea {
                width: 10rem;
                max-width: 20rem;
                padding: .5rem;
                border-radius: .2rem;
                border: .05rem solid black;
            }
            textarea {
                height: 5rem;
            }
        }
    }
}